// Styling for the masthead
header.masthead {
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  margin-top: 5em;
  img {
    width: 100vw;
  }
}

@media (min-width: 992px) {
  header.masthead {
    margin-top: 5em;
  }
}
