// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#steps {
  background-image: url("../img/dash.png");
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 80px;
}

#google-map {
  height: 600px;
}
