div[data-for="province"],
div[data-for="address2"] {
  display: none;
}

#snipcart_custom_75-nach-100-Tagen {
  border: none;
  padding: 0;
  font-weight: 600;
  color: gray;
}

#snipcart-main-content {
  .custom-snipcart-footer-text {
    padding: 1em;
    h2 {
      font-size: 2em;
      color: darkred;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 1.2em;
      color: #333;
      margin-bottom: 1em;
    }
  }
}
